* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

html{
    background-color: rgb(248, 248, 248);
    overflow-y: hidden;
    height: 100vh;
}

.App {
    width: 60%;
    border: 1px solid rgb(230, 230, 230);
    border-radius: 15px;
    background-color: white;
    padding: 5%;
    margin: 20vh auto  0 auto;
}
form {
    display: flex;
    flex-direction: column;
}
.container {
    margin-top: 30px;
    display: flex;
    gap: 2vw;
}

.input_and_choose_currency {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 2vw;
    align-items: flex-end;
    flex-grow: 1;
}

h1 {
    font-size: 30px;
    text-align: center;
}

input {
    border: 1px solid rgb(230, 230, 230);
    padding: 10.5px;
    border-radius: 5px;
    order: 1;
}

input:focus {
    outline: 1.5px solid blue;
}

label {
    font-weight: 350;
    color: rgb(146, 146, 146);
    font-size: 10px;
}

p:first-child{
    font-weight: 700;
    color: blue;
    margin: 0 0 5px 0;
}
.buttonChange {
    cursor: pointer;
    width: 40px;
    height: 40px;
    order: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    border-radius: 50%;
    order: 3;
    align-self: center;
    justify-self: flex-end;
    transition: 0.5s;
}
.buttonChange:hover {
    background-color: rgb(0, 0, 214);
}
img {
    position: absolute;
    margin: auto;
    width: 20px;
    height: 20px;
    transition: 0.5s ease-in-out;
}

img:hover {
    rotate: 90deg;
}

.convert_from {
    order: 2;
}

.convert_to {
    order: 4;
}

.resault {
    order: 3;
}

@media screen and (min-width: 615px) and (max-width: 895px){
    .input_and_choose_currency {
        grid-template-columns: repeat(1, auto);
    }
    input {
        order: 1;
    }
    .convert_to {
        order: 3;
    }
    
    .convert_from {
        order: 2;
    }
    
    .resault {
        order: 4;
    }
}

@media screen and (max-width: 614px){
    .App {
        width: 85%;
    }
    .input_and_choose_currency {
        grid-template-columns: repeat(1, auto);
    }
    input {
        order: 1;
    }
    .convert_to {
        order: 3;
    }
    
    .convert_from {
        order: 2;
    }
    
    .resault {
        order: 4;
    }
    .container{
        flex-direction: column;
    }
}